*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "IBM Plex Serif", sans-serif;
  font-size: 1.6rem;
}

.burger-btn {
  position: fixed;
  display: inline-block;
  top: 20px;
  right: 20px;
  padding: 1em;
  background: none;
  border: 1px solid transparent;
  cursor: pointer;
  z-index: 1000;
}
.burger-btn:focus {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
}
.burger-btn:hover .burger-btn__bars::after,
.burger-btn:hover .burger-btn__bars::before {
  width: 100%;
}
.burger-btn__box {
  position: relative;
  width: 40px;
  height: 30px;
}
.burger-btn__bars, .burger-btn__bars::after, .burger-btn__bars::before {
  position: absolute;
  content: "";
  right: 0;
  height: 3px;
  background-color: #FEFAE0;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}
.burger-btn__bars {
  width: 100%;
}
.burger-btn__bars::after {
  top: 13px;
  width: 60%;
}
.burger-btn__bars::before {
  top: 27px;
  width: 30%;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.nav {
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100%;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition: 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  background-color: #283618;
  z-index: 100;
}
.nav--active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.nav__item {
  position: relative;
  display: block;
  color: #FEFAE0;
  text-align: center;
  margin: 0.5em 0;
  padding: 0.5em 2em;
  font-size: 2.8rem;
  text-decoration: none;
}
.nav__item::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  background-color: #FEFAE0;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  content: "";
}
.nav__item:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.nav-desktop {
  position: absolute;
  display: none;
  top: 0;
  padding: 2em;
  right: 0;
  font-size: 2rem;
}
.nav-desktop__item {
  padding: 1em;
  text-decoration: none;
  color: #FEFAE0;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.nav-desktop__item:hover {
  color: #c9c6b3;
}

@-webkit-keyframes navItemsAnimation {
  from {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes navItemsAnimation {
  from {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.nav-items-animation {
  -webkit-animation: navItemsAnimation 1.5s both;
          animation: navItemsAnimation 1.5s both;
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2em;
  height: 100vh;
  text-align: center;
  color: #FEFAE0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.719))), url("/img/pizza-sm.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.719)), url("/img/pizza-sm.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.header__heading {
  font-family: "IBM Plex Serif", sans-serif;
  font-size: 4.8rem;
}
.header__text {
  font-size: 2rem;
  font-weight: 300;
}

@media (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .nav-desktop {
    display: inline-block;
  }
  .header__heading {
    font-size: 6.6rem;
  }
  .header__text {
    font-size: 2.2rem;
  }
}
@media (min-width: 992px) {
  .burger-btn {
    top: 50px;
    right: 50px;
  }
  .header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.719))), url("/img/pizza-big.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.719)), url("/img/pizza-big.jpg");
  }
}/*# sourceMappingURL=main.css.map */