@use './colors' as *;

.header {
	display: flex;
	position: relative;
	height: 100vh;
	padding: 2em;
	text-align: center;
	color: $pure-white;
	background-repeat: no-repeat;
	background: url('../img/pizza2.jpg') center no-repeat;
	&::after,
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
	}
	&__box {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		z-index: 5;

		&-title {
			font-size: 4.8rem;
			margin-bottom: 0.5em;
		}
		&-text {
			font-size: 2.4rem;
			font-weight: 300;
			line-height: 1.5;
		}
		&-phone {
			margin-top: 1em;
			font-size: 2.4rem;
			font-weight: 300;
			a {
				text-decoration: none;
				color: $pure-white;
			}
		}
	}
}
