@use './colors' as *;

.header {
	display: flex;
	position: relative;
	height: 100vh;
	padding: 2em;
	text-align: center;
	color: $pure-white;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
	background-image: url("../img/pizza-sm.jpg");
	&::after, &::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.418);
	}
	&__box {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		z-index: 5;
	}
	&__box-title {
		font-size: 4.8rem;
		margin-bottom: .5em;
	}
	&__box-text {
		font-size: 2.4rem;
		font-weight: 300;
	}
}
// @media (min-width: 992px) {

// 	.header {
// 		background-image: url("../img/pizza-big.jpg");
// 	}


// }

