@use './colors' as *;

.menu {
	position: relative;
	background-color: $main-color;
	color: $pure-white;
	overflow: hidden;
	h2 {
		color: $pure-white;
	}

	&__img {
		width: 100%;
		border-radius: 8px;
		object-fit: contain;

	
	}
	
	&__box-text {
		display: flex;
		flex-direction: column;
		text-align: center;
		padding: 1em;
	}

}

