@use './colors' as *;

.menu {
	background-color: $main-color;
	color: $pure-white;
	overflow: hidden;
	position: relative;
	h2 {
		color: $pure-white;
	}

	&__img {
		width: 100%;
		border-radius: 8px;
		object-fit: contain;
		transition: transform 0.3s;
		cursor: zoom-in;
	
	}
	.menu__img.zoomed {
		transform: scale(1.2);
		cursor: zoom-out;
	}
	
	&__box-text {
		display: flex;
		flex-direction: column;
		text-align: center;
		padding: 1em;
	}

	&__img-text {
		color: $pure-white;
		font-size: 2rem;
		a {
			text-decoration: none;
			color: #dddc96;
			&:hover {
				cursor: pointer;
				color: $pure-white-hover;
				transition: color 0.3s;
			}
		}
	}
}

